In [109]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
# 시각화
import matplotlib.pyplot as plt

from skimage.transform import resize
import pandas as pd
import matplotlib.pyplot as plt


## 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform
import matplotlib.pyplot as plt

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

import seaborn as sns

In [110]:
역구조데이터 = pd.read_csv('./Data/국가철도공단_부산지하철_역구조_데이터_20231109.csv', encoding='euc-kr')
역구조데이터.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   철도운영기관명  384 non-null    object
 1   선명       384 non-null    object
 2   역명       381 non-null    object
 3   지상구분     384 non-null    object
 4   역층       384 non-null    int64
 5   역층구분     384 non-null    object
 6   면적       109 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 21.1+ KB

In [111]:
승하차인원2 = pd.read_csv('./Data/DataDictionary/일별 역별 시간대별 승하차(2023년 12월).csv', encoding='euc-kr')
승하차인원2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81760 entries, 0 to 81759
Data columns (total 30 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   역번호      81760 non-null  int64
 1   역명       81760 non-null  object
 2   년월일      81760 non-null  object
 3   요일       81760 non-null  object
 4   구분       81760 non-null  object
 5   합계       81760 non-null  int64
 6   01시-02시  81760 non-null  int64
 7   02시-03시  81760 non-null  int64
 8   03시-04시  81760 non-null  int64
 9   04시-05시  81760 non-null  int64
 10  05시-06시  81760 non-null  int64
 11  06시-07시  81760 non-null  int64
 12  07시-08시  81760 non-null  int64
 13  08시-09시  81760 non-null  int64
 14  09시-10시  81760 non-null  int64
 15  10시-11시  81760 non-null  int64
 16  11시-12시  81760 non-null  int64
 17  12시-13시  81760 non-null  int64
 18  13시-14시  81760 non-null  int64
 19  14시-15시  81760 non-null  int64
 20  15시-16시  81760 non-null  int64
 21  16시-17시  81760 non-null  int64
 22  17시-18시  81760 non-null  int64
 23  18시-19시  81760 non-null  int64
 24  19시-20시  81760 non-null  int64
 25  20시-21시  81760 non-null  int64
 26  21시-22시  81760 non-null  int64
 27  22시-23시  81760 non-null  int64
 28  23시-24시  81760 non-null  int64
 29  24시-01시  81760 non-null  int64
dtypes: int64(26), object(4)
memory usage: 18.7+ MB

In [112]:
환승정보 = pd.read_csv('./Data/부산도시철도 부산시내 환승정보(2024).csv', encoding='euc-kr')
환승정보.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   환승방법         24 non-null     object
 1   대상           24 non-null     object
 2   도시철도 1구간(원)  24 non-null     object
 3   타교통수단(원)     24 non-null     object
 4   총운임(원)       24 non-null     object
 5   비고           12 non-null     object
dtypes: object(6)
memory usage: 1.3+ KB

In [113]:
운임정보 = pd.read_csv('./Data/부산도시철도 운임정보(2024).csv', encoding='euc-kr')
운임정보.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   승차권종별   13 non-null     object
 1   대상      13 non-null     object
 2   1구간     13 non-null     object
 3   2구간     10 non-null     object
 4   비고      2 non-null      object
dtypes: object(5)
memory usage: 652.0+ bytes

In [114]:
열차운행실적 = pd.read_csv('./Data/부산교통공사_열차운행실적_20231231.csv', encoding='euc-kr')
열차운행실적.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   월별          48 non-null     int64
 1   호선별         48 non-null     object
 2   계획(횟수)      48 non-null     int64
 3   실적(횟수)      48 non-null     int64
 4   계획(운행거리Km)  48 non-null     float64
 5   실적(운행거리Km)  48 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 2.4+ KB

In [115]:
승하차인원2['역번호'].describe()

count    81760.000000
mean       217.696429
std         96.589635
min         95.000000
25%        122.750000
50%        216.500000
75%        302.250000
max        414.000000
Name: 역번호, dtype: float64

In [123]:
import pandas as pd

# 승하차인원 데이터프레임 예시
승하차인원 = {
    "subway": pd.read_csv('./Data/DataDictionary/일별 역별 시간대별 승하차(2023년 12월).csv', encoding='euc-kr')
}


subway_df = 승하차인원['subway']

# 호선 번호를 반환하는 함수 정의
def get_line_number(station_number):
    if 400 <= station_number <= 499:
        return 4  # 4호선
    elif 300 <= station_number <= 399:
        return 3  # 3호선
    elif 200 <= station_number <= 299:
        return 2  # 2호선
    elif 100 <= station_number <= 199:
        return 1  # 1호선
    else:
        return "Unknown"  # 알 수 없는 역번호 처리

# 역번호에 따라 호선 컬럼 추가
subway_df['호선'] = subway_df['역번호'].apply(get_line_number)

# 결과 확인
print(subway_df.head())

   역번호       역명         년월일 요일  구분    합계  01시-02시  02시-03시  03시-04시  04시-05시  \
0   95  다대포해수욕장  2023-01-01  일  승차  6311        0        0        0        9
1   95  다대포해수욕장  2023-01-01  일  하차  5839        2        0        0        0
2   95  다대포해수욕장  2023-01-02  월  승차  4264        0        0        0       18
3   95  다대포해수욕장  2023-01-02  월  하차  3300        0        0        0        0
4   95  다대포해수욕장  2023-01-03  화  승차  4431        1        1        0       27

   ...  16시-17시  17시-18시  18시-19시  19시-20시  20시-21시  21시-22시  22시-23시  \
0  ...      398      336      272      130      138       71       66
1  ...      299      269      126      128       94      115       71
2  ...      262      243      224      133       87       79       62
3  ...      262      260      285      216      153      103      105
4  ...      310      310      229      132      110       71       65

   23시-24시  24시-01시       호선
0        7        3  Unknown
1       43       29  Unknown
2        8        0  Unknown
3       57       29  Unknown
4       21        0  Unknown

[5 rows x 31 columns]

In [117]:
승하차인원 = {
    "subway" : pd.read_csv('./Data/DataDictionary/일별 역별 시간대별 승하차(2023년 12월).csv', encoding='euc-kr')
}

In [118]:
승하차인원['subway']['역번호']

0         95
1         95
2         95
3         95
4         95
        ...
81755    414
81756    414
81757    414
81758    414
81759    414
Name: 역번호, Length: 81760, dtype: int64

In [119]:
# 호선 번호를 결정하는 함수
def get_line_number(station_number):
    if 100 <= station_number <= 199:
        return 1  # 1호선
    elif 200 <= station_number <= 299:
        return 2  # 2호선
    elif 300 <= station_number <= 399:
        return 3  # 3호선
    elif 400 <= station_number <= 499:
        return 4  # 4호선
    else:
        return "Unknown"  # 알 수 없는 호선
    
subway_df = 승하차인원['subway']
print(subway_df.columns)
subway_df['호선'] = subway_df['역번호'].apply(get_line_number)

print(subway_df.head())

Index(['역번호', '역명', '년월일', '요일', '구분', '합계', '01시-02시', '02시-03시', '03시-04시',
       '04시-05시', '05시-06시', '06시-07시', '07시-08시', '08시-09시', '09시-10시',
       '10시-11시', '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시',
       '16시-17시', '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시',
       '22시-23시', '23시-24시', '24시-01시'],
      dtype='object')
   역번호       역명         년월일 요일  구분    합계  01시-02시  02시-03시  03시-04시  04시-05시  \
0   95  다대포해수욕장  2023-01-01  일  승차  6311        0        0        0        9
1   95  다대포해수욕장  2023-01-01  일  하차  5839        2        0        0        0
2   95  다대포해수욕장  2023-01-02  월  승차  4264        0        0        0       18
3   95  다대포해수욕장  2023-01-02  월  하차  3300        0        0        0        0
4   95  다대포해수욕장  2023-01-03  화  승차  4431        1        1        0       27

   ...  16시-17시  17시-18시  18시-19시  19시-20시  20시-21시  21시-22시  22시-23시  \
0  ...      398      336      272      130      138       71       66
1  ...      299      269      126      128       94      115       71
2  ...      262      243      224      133       87       79       62
3  ...      262      260      285      216      153      103      105
4  ...      310      310      229      132      110       71       65

   23시-24시  24시-01시       호선
0        7        3  Unknown
1       43       29  Unknown
2        8        0  Unknown
3       57       29  Unknown
4       21        0  Unknown

[5 rows x 31 columns]

In [120]:
import numpy as np
np.save("./Data/DataDictionary/subway.npy",승하차인원) ## .8Mb

In [121]:
# npy File 용량확인 
import os
dictionary_path='./Data/DataDictionary/'
for i in os.listdir(dictionary_path):
    if i.split(".")[-1]=='npy':
        size = os.path.getsize(os.path.join(dictionary_path,i))
        print(f"{i} =>{int(size/1000000)} MB")

subway.npy =>18 MB

In [122]:

# 데이터 정제 시작 
from Functions import *

subway =np.load("./Data/DataDictionary/subway.npy",allow_pickle=True).tolist()

# for item in subway :
#     if isinstance(item, dict) :
#         for key in item.keys():
#             Service.data_preprocessing_toAnalysis(item, key)
#     else :
#         print("리스트의 요소가 dict가 아닙니다:", item)



# # subway_dict_test20to21.keys()
for key in subway.keys():Service.data_preprocessing_toAnalysis(subway,key)

___ 🟡 DATA_PREPROCESSING_TOANALYSIS.
______ 📌 데이터 통합 정제 함수!!!
columns ---👇
['역번호', '역명', '년월일', '요일', '구분', '합계', '01시-02시', '02시-03시', '03시-04시', '04시-05시', '05시-06시', '06시-07시', '07시-08시', '08시-09시', '09시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시', '23시-24시', '24시-01시', '호선']
 2."역명" ->"역이름", "역번호"->"역사코드 ".
 3. 호선 데이터가 object 입니다.
   - Unknown
   - 1
   - 2
 ..

ValueError: invalid literal for int() with base 10: 'Unknown'

In [ ]:
승하차인원2['역번호'].unique()

array([ 95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107,
       108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
       121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133,
       134, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 302, 303, 304, 305, 306, 307, 308, 309,
       310, 311, 312, 313, 314, 315, 316, 317, 402, 403, 404, 405, 406,
       407, 408, 409, 410, 411, 412, 413, 414])