In [2]:
## input data ì •ì œ 

import pandas as pd 

dataB = pd.read_csv("./Data/ì‚¬ì „í…ŒìŠ¤íŠ¸-í™˜ê²½ë°ì´í„°/environmentsB.csv")
dataC = pd.read_csv("./Data/ì‚¬ì „í…ŒìŠ¤íŠ¸-í™˜ê²½ë°ì´í„°/environmentsC.csv")
dataD = pd.read_csv("./Data/ì‚¬ì „í…ŒìŠ¤íŠ¸-í™˜ê²½ë°ì´í„°/environmentsD.csv")
dataE = pd.read_csv("./Data/ì‚¬ì „í…ŒìŠ¤íŠ¸-í™˜ê²½ë°ì´í„°/environmentsE.csv")

dataR = pd.read_excel("./Data/ì‚¬ì „í…ŒìŠ¤íŠ¸-ìƒìœ¡ë°ì´í„°.xlsx")

In [9]:
#### Jupyter Basic Setting ####
import pandas as pd,numpy as np
import matplotlib.pyplot as plt,seaborn as sns  # ì‹œê°í™”
import warnings; warnings.filterwarnings('ignore')  # ê²½ê³  ë¬´ì‹œ
import sys,os
from pprint import pprint 
parent_dir = os.path.dirname(os.getcwd())
parent_dir = os.path.dirname(parent_dir)
sys.path.append(parent_dir)
from Functions import Service as S
# ê¸°ë³¸ ì„¸íŒ…
S.plotSetting("seaborn-v0_8")
def blue(str):return S.colored_text(str,'blue')
def yellow(str):return S.colored_text(str,'yellow')
def red(str):return S.colored_text(str,'red')
def green(str):return S.colored_text(str,'green')

___ ğŸŸ¡ PLOTSETTING.
______ ğŸ“Œ matplotlibn plot í•œê¸€í™” Setting
___## OS platform í•œê¸€ ì„¸íŒ…ì™„ë£Œ ## ___

In [3]:
import pandas as pd
from datetime import datetime, timedelta

# ì£¼ì°¨ ê³„ì‚° í•¨ìˆ˜
def calculate_week(target_date, base_week, startMonth, startDate):
    # ë¬¸ìì—´ ë‚ ì§œë¥¼ datetime ê°ì²´ë¡œ ë³€í™˜
    date = pd.to_datetime(target_date, format='%Y%m%d')
    
    # ê¸°ì¤€ ë‚ ì§œ ì„¤ì •
    base_date = datetime(2023, startMonth, startDate)
    base_date_timestamp = pd.Timestamp(base_date)

    # ë‚ ì§œ ì°¨ì´ ê³„ì‚°
    delta_days = (date - base_date_timestamp).days

    # ê¸°ì¤€ ì£¼ì°¨ì—ì„œ ë‚ ì§œ ì°¨ì´ë¥¼ ì£¼ ë‹¨ìœ„ë¡œ ë³€í™˜
    week = base_week + delta_days // 7
    print( date , f'ëŠ” {base_date}ë¡œ ë¶€í„° {week}ì£¼ì°¨ ì…ë‹ˆë‹¤')
    return week

# í…ŒìŠ¤íŠ¸
print(calculate_week('20230928', 1, 9, 20))

# # forë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì£¼ì°¨ ë°ì´í„°ë¥¼ ë°ì´í„°í”„ë ˆì„ì— ì¶”ê°€
# for data, farm_name in zip(datalist, list):
#     print(f"{farm_name} ë†ê°€")
#     dates = pd.to_datetime(data['date'])
#     weeks = calculate_week(dates, base_week, 10, 28)
#     data['weeks'] = weeks

2023-09-28 00:00:00 ëŠ” 2023-09-20 00:00:00ë¡œ ë¶€í„° 2ì£¼ì°¨ ì…ë‹ˆë‹¤
2

In [4]:
119*9

1071

In [26]:
# datatimeì—ì„œ ë‚ ì§œì™€ ì‹œê°„ì„ ì˜ë¼ì„œ df ë§Œë“¤ê¸°
# dataB['datetime'] = pd.to_datetime(dataB['datetime'])
# dataB['date'] = dataB['datetime'].dt.date
# dataB.head()

datalist = [dataB, dataC, dataD, dataE]

## datetimeì„ dateë¡œ ë³€ê²½ 
for data in datalist:
    data['datetime'] = pd.to_datetime(data['datetime'])
    data['date'] = data['datetime'].dt.date
    data['month']= data['datetime'].dt.month
    data['dayname']= data['datetime'].dt.day_of_week
    # data['time'] = data['datetime'].dt.hour
test_mean = dataC.groupby(['date','farm']).mean(numeric_only=True)
# test_median = dataC.groupby(['date','farm']).transform('median',numeric_only=True)
test_median = dataC.groupby(['date','farm']).median(numeric_only=True)
test_std = dataC.groupby(['date','farm']).std(numeric_only=True)
test_min = dataC.groupby(['date','farm']).min(numeric_only=True)
test_max = dataC.groupby(['date','farm']).max(numeric_only=True)



print(test_median.tail())
print(yellow("--"*200))
print(test_count)
print(yellow("--"*200))

                 supplyEC  supplyPH  innerCO2  innerHum  innerTemp  \
date       farm
2024-04-22 Cë†ê°€        1.0       6.0   259.615    66.830     18.280
2024-04-23 Cë†ê°€        1.0       6.0   270.270    70.120     16.940
2024-04-24 Cë†ê°€        1.0       6.0   267.035    76.790     15.535
2024-04-25 Cë†ê°€        1.0       6.0   259.155    70.375     17.435
2024-04-26 Cë†ê°€        1.0       6.0   289.205    71.890     18.295

                 innerSolar  month  dayname
date       farm
2024-04-22 Cë†ê°€       59.425    4.0      0.0
2024-04-23 Cë†ê°€       58.690    4.0      1.0
2024-04-24 Cë†ê°€       76.965    4.0      2.0
2024-04-25 Cë†ê°€       68.025    4.0      3.0
2024-04-26 Cë†ê°€       71.000    4.0      4.0
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<bound method GroupBy.count of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x17c02fad0>>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [27]:
data

,farm,datetime,supplyEC,supplyPH,innerCO2,innerHum,innerTemp,innerSolar,date,month,dayname
0,Eë†ê°€,2023-10-10 14:00:00,0.09,6.0,268.11,29.78,31.64,180.81,2023-10-10,10,1
1,Eë†ê°€,2023-10-10 15:00:00,0.94,6.0,265.27,31.75,29.60,9.75,2023-10-10,10,1
2,Eë†ê°€,2023-10-10 16:00:00,0.08,6.0,267.31,34.64,28.89,74.85,2023-10-10,10,1
3,Eë†ê°€,2023-10-10 17:00:00,0.00,6.0,267.58,48.66,25.95,21.49,2023-10-10,10,1
4,Eë†ê°€,2023-10-10 18:00:00,0.00,6.0,280.47,52.36,23.94,0.00,2023-10-10,10,1
...,...,...,...,...,...,...,...,...,...,...,...
4199,Eë†ê°€,2024-04-26 19:00:00,0.00,6.0,287.09,62.90,23.20,75.07,2024-04-26,4,4
4200,Eë†ê°€,2024-04-26 20:00:00,0.00,6.0,330.85,67.27,20.88,79.33,2024-04-26,4,4
4201,Eë†ê°€,2024-04-26 21:00:00,0.00,6.0,356.48,68.93,19.61,82.90,2024-04-26,4,4
4202,Eë†ê°€,2024-04-26 22:00:00,0.00,6.0,386.59,69.66,18.47,91.01,2024-04-26,4,4
4203,Eë†ê°€,2024-04-26 23:00:00,0.00,6.0,408.73,70.00,18.00,93.68,2024-04-26,4,4